body{
    margin: 0px;
    font-family: 'Hind Madurai', sans-serif;
}

/**nav bar**/
#navbar-section {
    background-color: #734B5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25 px;
    color: white;
    padding: 10px;

}

#nav-list {
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style: none;
    font-size: 100%;
    font-weight: 600;
}



@media screen and (min-width:1228px) {
    #hb-icon {display: none;}
    
}

@media  screen and (max-width: 1279px) {
    #nav-list {display: none;}
    #hb-icon {display: block;}

}




#page-title {
    font-weight: bold;
    text-align: center;
    font-size: 135%;
}

/**body**/
#products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px 5px;
    margin-bottom: 4rem;
    font-size: 16px;
    font-weight: bold;
}

#pl-info{
    list-style-type: none;
}

#product-image{
    display: flex;
    align-self: center;
}

#product-card{
    background-color: #8EB18A;
    min-width: 300px;
    display: flex;
    padding: 2%;
    flex-grow: 2;
    flex-basis: 22%;
}


#product{
    margin-left: 30%;
}

@media screen and (min-width: 1280px) {
    #product-card {
      flex-basis: calc(33.33%-20px);
    }
  }

@media  screen and (max-width:673px) {
    #product-card {justify-content: space-around;} 
    #product-image {align-self: center;}
}

/**footer section**/
#footer-section{
    background-color: #734B5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25 px;
    padding: 5px;
}


#footer-list{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
    font-size: 20 px;
    color: white;
    margin-right: 15%;
}

#ig-logo{
    padding: 2%;
}

@media only screen and (min-width:481px) and (max-width: 915px) {
    #footer-section {
        flex-direction: column;
        align-items: center;
    }
    #footer-list{
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
}}

@media only screen and (max-width: 480px) {
    #footer-section {
        flex-direction: column;
        align-items: center;
    }
    #footer-list{
        flex-direction: column;
        align-items: center;
        margin-right: 30px;


}
}
